<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/static/icons.css" />
<head>
    <link rel="stylesheet" href="/static/main.css">
    <head>
        <!-- TODO(Checkpoint Requirement 3): Change the title and content of your wiki.-->
        <title>{% block page_name %} Team Kage's Project {% endblock %}</title>
    </head>
</head>

<body>
    <!-- TODO(Project 1): Implement routes. -->
    <div class="navbar">
        <a href="/">Home</a>
        <a href="{{url_for('pages')}}">Pages</a>
        <a href="{{url_for('about')}}">About</a>
        <a href="{{url_for('login')}}">Login</a>
        <a href="{{url_for('signup')}}">Sign Up</a>
        <a href="{{url_for('upload')}}">Upload</a>

        <form action = "{{url_for('search')}}" method = "post">
            <input type="text" name = "query">
            <input type =submit value =Search >
        </form>
    </div>
    <div>       
        <!-- TODO(Checkpoint Requirement 3): Change the title and content of your wiki.-->
        {% block content %} Welcome To Team Kage's Amazing Project {% endblock %}
        <form method="post" action ="{{url_for('home')}}">
            <h3>Links: Welcome here are the links to Watch and read</h3>
            <p>
                <a href="https://www.funimation.com/shows/assassination-classroom/?qid=None"> Funimation  </a>
            <p>
                <a href="https://www.crunchyroll.com/series/GRE59JGX6/assassination-classroom"> Crunchyroll</a>
            <p>
                <a href="https://www.viz.com/assassination-classroom"> Manga Viz Media</a>
            <p>
    </div>
</body>
</html>