{% extends "main.html" %}

{% block page_name %}
Upload
{% endblock %}

{% block content %}
<title>Upload new File</title>
<h1>Upload doc to the wiki</h1>
<h4>current user: {{username}} <h4>
<form action ="{{url_for('upload')}}" method="post" enctype=multipart/form-data>
  <input type="file" name="file">
  <input type=submit value=Upload>
    <form action ="{{url_for('upload')}}"  method="get"></form>
    <form method="post" action ="{{url_for('upload')}}">
        <input type="submit" value="Delete user pictures" name="actionbutton"/>
    </form>
</form>
<div>
    <h2>Users Gallery</h2>
    {% for image in content %}
        <img src={{image}} width="400px" height="300px"></img>
    {% endfor %}
</div>
{% endblock %}